<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Scream</title>
     <style>
   body{
    background-color: #A9A9A9; 
   } </style>

</head>
<body>
   
    {{>header}}


<div> 
<h1>{{{name}}}</h1>
<h4>{{{lvl}}}</h4>
<h3>{{{inventory}}}</h3>
<h5>{{{money}}}</h5>
  <img src="{{{avatar}}}">
</div>
    {{>footer}}
</body>
</html>